{{#unless (eq page.attributes.pagination undefined)}}
{{#if (or page.previous page.next)}}
<style>
nav.pagination .prev:before,
nav.pagination .next:before,
nav.pagination span:before { display: none !important; }
nav.pagination a { display: flex; flex-direction: column; text-decoration: none; }
nav.pagination .next a { align-items: flex-end; }
nav.pagination .prev a { align-items: flex-start; }
nav.pagination a .label { font-size: .85em; font-weight: 400; padding-bottom: .1em; }
nav.pagination .prev a:before,
nav.pagination .next a:after { display: none !important; }
</style>
<nav class="pagination">
  {{#with page.previous}}
  <span class="prev"><a href="{{{relativize ./url}}}" class="query-params-link"><span class="label">Prev</span>{{{./content}}}</a></span>
  {{/with}}
  {{#with page.next}}
  <span class="next"><a href="{{{relativize ./url}}}" class="query-params-link"><span class="label">Next</span>{{{./content}}}</a></span>
  {{/with}}
</nav>
{{/if}}
{{/unless}}
