apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: litellm
  namespace: "{{ _local_llm_lab_namespace }}"
  labels:
    app: litellm
  annotations:
    haproxy.router.openshift.io/timeout: "300s"
spec:
  port:
    targetPort: 4000
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  to:
    kind: Service
    name: litellm
    weight: 100
  wildcardPolicy: None
