apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-models
  namespace: "{{ _local_llm_lab_namespace }}"
  labels:
    app: ollama
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ _local_llm_lab_ollama_storage_size }}"
