apiVersion: v1
kind: Service
metadata:
  name: ollama
  namespace: "{{ _local_llm_lab_namespace }}"
  labels:
    app: ollama
spec:
  ports:
    - port: 11434
      protocol: TCP
      targetPort: 11434
  selector:
    app: ollama
  type: ClusterIP
